* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FCFCFC;
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 30px;
  font-family: Inter, sans-serif;
}

.primary-button {
  background: #5357B6;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
  transition: all .5s ease;
}

.primary-button:hover {
  cursor: pointer;
  opacity: .8;
}

.primary-button:disabled {
  opacity: 0.5;
}
